.title {
font-family:'Roboto', sans-serif;
}

 body {
 margin: 0;
}

.wrapper{
  width: 80%;
  margin: auto;
}

.header{
  margin:auto;
  padding: 40px 0;
}

.logo, .menu{
  display: inline-block;
}

.logo{
  margin-right: %;
  padding-left: px;

}

.header{
  display: flex;
  justify-content: space-between;
  }

 .logo{
   position: relative;
   padding: 40px 0;
 font-family: 'pt_serifbold', arial, helvetica, sans-serif;
 font-size: 24px;
 line-height: 32px;
 padding-left: 44px;
 }


.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}

.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
    opacity: 0.7;

}

.logo__circle_color_dark-blue{
  background: #0056EC;
    opacity: 0.7;

}


.menu{
  display: flex;
  align-items: center;
}

.menu__item{
  margin-right: 26px;
  position: relative;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color:#000000;
}

.menu__item:last-child{
  padding-right: 0;
}

.menu__item_active:hover:after{
  left: 0;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background:#0056EC;
  position: absolute;
}

.menu__item:hover{
 opacity: 0.5;
}
