.title {
font-family:'Roboto', sans-serif;}


 body {
 margin: 0;}


.wrapper{
  width: 80%;
  margin: auto;
  margin-left: 194px}


.header{
  margin-bottom: 190px;
  display: flex;
  justify-content: space-between;}


 .logo{
  margin-right: 62%;
  display: inline-block;
  position: relative;
  font: 500 1.25vw/1.6666 'pt_serifbold', arial, helvetica, sans-serif;
  padding: 40px 0 40px 42px;}


.logo__circle{
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;}


.logo__circle_color_blue{
  left: 8px;
  top: 56%;
  background: #C8DBFB;
  opacity: 0.7;}

.logo__circle_color_dark-blue{
  background: #0056EC;
    opacity: 0.7;}


.menu{
  display: flex;
  align-items: center;
  margin-right: 16px;
  width: 443px;
  height: 114px;}


.menu__item_active1{
  margin-right: 25px;
  margin-top: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375vw;
  line-height: 1.0937vw;
  color:#000000;}


.menu__item_active2{
  margin-right: 24px;
  margin-top: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size:0.9375vw;
  line-height: 1.0937vw;
  color:#000000;}


.menu__item_active3{
  margin-right: 27px;
  margin-top: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375vw;
  lne-height: 1.0937vw;
    color:#000000;}


.menu__item_active4{
  margin-top: 6px;
  margin-right: 27px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375vw;
  line-height: 1.0937vw;
  color:#000000;}


.menu__item_active5{
  margin-top: 6px;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375vw;
  line-height: 1.0937vw;
  color:#000000; }


.menu__item:last-child{
  padding-right: 0;}


.menu__item_active:hover:after{
  left: 0;
  display: block;
  content: '';
  height: 3px;
  width: 100%;
  background:#0056EC;
  position: absolute;}


.menu__item:hover{
  opacity: 0.5;}


.main__title{
  width: 567px;
  padding-top: 15px;
  margin-bottom: 44px;
  font: bold 3.4375vw/4.375vw 'pt_serifbold', serif;}

.main__subtitle {
  font: 1.1458vw/1.3541vw 'Roboto', sans-serif;
  margin: 29px 56px 59px 0;
  width: 434px;}

.main-section {
  background: url('main img/Group.svg') top right no-repeat;
  padding-bottom: 176px;
  margin-right: 20px;}


.main__title-text_higlight{
  background: #ECF3FF;}


.image-content__image{
  background:  url('main img/Group.svg');
  margin-top: 255px;
  margin-right: 100px;}


.main__button{
  padding: 17px 44px 14px 17px;
  background: #0056EC;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  font: 0.9375vw/1.09375vw 'Roboto', arial, helvetica, sans-serif;}


.main__button:hover{
  opacity: .5;}

    @media (max-width:1400px){
.logo{
  margin-right: 58%;}

.main-section{
  padding-bottom: 200px;
}
}

     @media (max-width:1367px){
      .wrapper{
        width: 68%;
        margin: auto;}

      .logo{
          padding-left: 39px;
          margin-right: 45%;
          display: inline-block;
          position: relative;
          font: 500 1.7569vw/2.3426vw 'pt_serifbold', arial, helvetica, sans-serif;
          padding: 40px 0 40px 42px;}

      .menu{
          display: flex;
          align-items: center;
          margin: 0; }

      .menu__item_active1{
          margin-right: 25px;
          margin-top: 6px;
          position: relative;
          text-decoration: none;
          font: 500 1.0248vw/1.1713vw 'Roboto', arial, helvetica, sans-serif;
          color:#000000;}


      .menu__item_active2{
          margin-right: 24px;
          margin-top: 6px;
          position: relative;
          text-decoration: none;
          font: 500 1.0248vw/1.1713vw 'Roboto', arial, helvetica, sans-serif;
          color:#000000;}


      .menu__item_active3{
          margin-right: 27px;
          margin-top: 6px;
          position: relative;
          text-decoration: none;
          font: 500 1.0248vw/1.1713vw 'Roboto', arial, helvetica, sans-serif;
          color:#000000;}


      .menu__item_active4{
            margin-top: 6px;
            margin-right: 27px;
            position: relative;
            text-decoration: none;
            font: 500 1.0248vw/1.1713vw 'Roboto', arial, helvetica, sans-serif;
            color:#000000;}


       .menu__item_active5{
            margin: 6px 0 0 0;
            position: relative;
            text-decoration: none;
            font: 500 1.0248vw/1.1713vw 'Roboto', arial, helvetica, sans-serif;
            color:#000000;}


        .menu__item:last-child{
            padding-right: 0px;}


        .menu__item_active:hover:after{
            left: 0;
            display: block;
            content: '';
            height: 3px;
            width: 100%;
            background:#0056EC;
            position: absolute;}


        .menu__item:hover{
            opacity: 0.5;}


        .header{
          margin-bottom: 97px;}


        .main-section{
          height: 415;
          padding-bottom: 65px;
          background-size: 53%;
          margin-right: 8px;
          margin-top: 0px;
          background-position: center right;}


        .main__title{
          width: 434px;
          padding-top: 0px;
          margin-bottom: 44px;
          font: bold 3.6603vw/4.8316vw 'pt_serifbold', serif;}

        .main__subtitle{
            font: 1.3177vw/1.5373vw 'Roboto', sans-serif;
            margin: 29px 56px 53px 0px;
            width: 391px; }

        .main__button{
          padding: 14px 25px 13px 19px;
          font: 1.0248vw/1.1713vw 'Roboto', arial; }}

@media(max-width: 1309px){
  .logo{
  margin-right: 44%;}}

@media(max-width: 1234px){
  .logo{
  margin-right: 43%;}}
@media(max-width: 1172px){
  .main__subtitle{
  font: 1.3177vw/1.5373vw 'Roboto', sans-serif}}
  @media(max-width: 1165px) {
    .logo{
    margin-right: 36%;}
  }






        @media(max-width: 1024px) {

          .wrapper{
            width: 100%;
          }

          .header{
            margin-bottom: 65px;
          }


          .logo{
              padding-left: 39px;
              margin: 0 39% 0 47px;
              display: inline-block;
              position: relative;
              font: 500 2.34375vw/3.125vw 'pt_serifbold', arial, helvetica, sans-serif;
              padding: 40px 0 40px 42px; }

          .logo__circle{
            transform: translateY(-66%);
          }

          .main__title{
              height: 195px;
              font: bold 4.8828vw/6.4453vw 'pt_serifbold', serif;
              margin: 0px 0px 0px 46px;
              padding: 28px 0px 25px 0px;}

          .main__subtitle {
              font: 1.7578vw/2.0507vw 'Roboto', sans-serif;
              margin: 18px 0px 55px 46px;}

          .main__button {
              margin-left: 46px;
              padding: 14px 25px 13px 19px;
              font: 1.3671vw/1.5625vw 'Roboto', arial;}

          .main-section {
              background-size: 50%;
              background-position: right;
              padding-bottom: 94px;
              margin-right: 60px;}


.menu__item_active1{
    padding-left: 23px;
      margin: 0px 26px 0px 0px;
        font: 500 1.3671vw/1.5625vw 'Roboto', arial, helvetica, sans-serif;}

.menu__item_active2{
    margin: 0px 24px 0px 0px;
      font: 500 1.3671vw/1.5625vw 'Roboto', arial, helvetica, sans-serif;}

.menu__item_active3{
    font: 500 1.3671vw/1.5625vw 'Roboto', arial, helvetica, sans-serif;
      margin-top:0; }

.menu__item_active4{
    font: 500 1.3671vw/1.5625vw 'Roboto', arial, helvetica, sans-serif;
      margin-top: 0;}

.menu__item_active5{
    font: 500 1.3671vw/1.5625vw 'Roboto', arial, helvetica, sans-serif;
      margin-top: 0}

.menu__item:last-child {
    padding-right: 32px;}}


    @media(max-width:738px){
.menu{
margin-right: 0;}

.menu__item:last-child{
padding-right: 0;}

.logo{
  margin-right: 35%;
}



  .main__title{
    width: 300px;}


    }



@media(max-width:375px){

  .menu{
    display: none;
  }


  .logo__name{
    display: none;
    margin-left: 16px;
  }

  .logo__circle{
    transform: translateY(-57%);
  }


.header{
  margin-bottom: 31px;
  padding: 0
}

.main-section{
  height: 320px;
  margin: 0;
  padding: 237px 0px 0px 0px;
  background-size: 70%;
  background-position: top center;
 }


 .main__title{
   height: 151px;
   padding: 0;
   margin: 0px 0px 0px 57px;
   font-size: 8vw;
   line-height: 10.6666vw;
   text-align: center;
   width: 265px;
 }

 .main__subtitle{
   font: 500 4.2666vw/5.0666vw 'Roboto', arial, helvetica, sans-serif;
   text-align: center;
   margin: 0px 0px 38px 64px;
   width: 253px;
 }

 .main__button{
   font: 500 3.7333vw/4.2666vw 'Roboto', arial, helvetica, sans-serif;
   margin-bottom: 70px;
   margin-left: 84px;
 }

 .logo{
   margin-left: 16px;
 }

  .logo__circle_color_dark-blue{
    margin-left: 7px;}


  .logo__circle_color_blue{
    margin-left: 7px;}


  .mobail__menu{
   background: #0056EC;
   width: 25px;
   height: 17px;
   margin-top: 32px;
   margin-right: 24px;
  }

  .mobail__menu::after{
    display: block;
    content: '';
    width: 25px;
    height: 4px;
    background-color: #fafafa;
    margin-top: 3px;

  }
  .mobail__menu::before{
    display: block;
    content: '';
    width: 25px;
    height: 4px;
    background-color:#fafafa;
    margin-top: 3px;
  }
}
